@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #EBEEEF;
  --text: #313137;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121214;
    --text: #fff;
  }
}

body {
  color: var(--text);
  background: var(--background);
  padding-bottom: 52px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
